
.docPage {
	width: 100%;
	padding-top: 1px;
	padding-left: 12px;
	padding-right: 24px;
}

pre {
	font-size: inherit;
	font-family: inherit;
	tab-size: 4;
}

.codeBlock {
	border: solid 1px #BFBFBF;
	border-radius: 6px;
	background: #F7F7F7;
	padding: 2px;
	white-space: pre-wrap;
	margin: 0px;
	font-size: 16px;
	font-family: monospace;
}
.codeBlockHeader {
	font-weight: bold;
	font-size: 12px;
	color: #BFBFBF;
}

.listItem.module {
	padding: 4px;
	padding-left: 4px;
	font-weight: bold;
	font-size: 18px;
	color: #1F1F1F;
}

.listItem.doc {
	padding-left: 16px;
	font-size: 14px;
	color: #3F3F7F;
}

.listItem.link {
	padding: 4px;
	padding-left: 8px;
	font-size: 16px;
	color: #7F3F3F;
}

#docOutput {
	padding: 12px;
}
#docOutput p {
	font-size: 14px;
}
#docOutput .members {
	display: inline-block;
	background: #F7F7F7;
	border: solid 1px transparent;
	border-color: #7F7F7F #CFCFCF #CFCFCF #7F7F7F;
	border-radius: 4px;
	font-size: 16px;
}
#docOutput .members > * {
	border: solid 0px #BFBFBF;
	border-bottom-width: 1px;
	padding: 2px 16px 2px 16px;
}
#docOutput .members > *:last-child {
	border-bottom-width: 0px;
}

#docOutput .category {
	font-size: 18px;
}

#docOutput .class.name {
	font-size: 24px;
}
#docOutput .class.extends {
	font-size: 14px;
	padding-left: 32px;
	margin-top: 16px;
	margin-bottom: 16px;
}
#docOutput .class.desc {
	font-size: 16px;
	padding-left: 16px;
	margin-top: 16px;
	margin-bottom: 16px;
	white-space: pre-wrap;
}

#docOutput .listHeader {
	margin-bottom: 0px;
	font-size: 18px;
	color: #1F3F9F;
}
#docOutput .methodList {
	border: solid 0px #1F3F9F;
	border-top-width: 1px;
	border-bottom-width: 1px;
}
#docOutput .methodList > * {
	border: solid 0px #DFBFBF;
	border-top-width: 1px;
	padding: 8px;
}
#docOutput .methodList > *:first-child {
	border-top-width: 0px;
}
#docOutput .methodList h3 {
	font-size: 16px;
}

#docOutput .method.undocumented {
	color: #5F5F5F;
	font-family: monospace;
	padding-left: 16px;
	padding-top: 8px;
	font-size: 16px;
}

#docOutput .method.name {
	color: #0F2F3F;
	font-family: monospace;
	font-weight: bold;
	font-size: 16px;
}
#docOutput .method.desc {
	color: #1F1F1F;
	padding-left: 16px;
	white-space: pre-wrap;
}
#docOutput .method.param {
	display: block;
	padding-left: 16px;
}
#docOutput .method.param > .name {
	display: inline-block;
	color: #3F0F0F;
	font-family: monospace;
	font-weight: bold;
	font-size: 16px;
}
#docOutput .method.param > .desc {
	display: inline-block;
	font-size: 14px;
	color: #1F1F1F;
	padding-left: 32px;
	white-space: pre-wrap;
}
#docOutput .method.returns {
	padding-left: 16px;
}



