
html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	background: #1F1F1F;
	color: #DFDFDF;
	font-family: Trebuchet MS;
	font-size: 14px;
}
html * {
	box-sizing: border-box;
}

td {
	vertical-align: top;
}
a:hover {
	cursor: pointer;
}
iframe {
	background: #EFEFEF;
	overflow: auto;
	overflow-x: scroll;
}



.appFrame {
	width: 100%;
	height: 100%;
}
.appFrame > canvas {
	cursor: default;
	position: absolute;
	top: 0px;
	left: 0px;
}



.appOverlay {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: none;
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.appOverlay  * {
	user-select: inherit;
	-moz-user-select: inherit;
	-webkit-user-select: inherit;
	-ms-user-select: inherit;
	pointer-events: inherit;
}
.appOverlay  input,
.appOverlay  a,
.appOverlay  .takeInput {
	user-select: all;
	-moz-user-select: all;
	-webkit-user-select: all;
	-ms-user-select: all;
	pointer-events: auto;
}

.nodisplay {
	display: none;
}
.fullsize  {
	width: 100%;
	height: 100%;
}
.absolute {
	position: absolute;
}
.center {
	text-align: center;
}
.middle {
	vertical-align: middle;
}
.bottom {
	vertical-align: bottom;
}
.table {
	display: table;
	border-collapse: collapse;
	border-spacing: 0px;
}
.tcell {
	display: table-cell;
}

table.layout {
	border-collapse: collapse;
	border-spacing: 0px;
}
table.layout > tbody > tr > td,
table.layout > tbody > tr > th {
	margin: 0px;
	padding: 0px;
}



.menuBar {
	border: solid 0px #3F3F3F;
	background: #3F3F3F;
}
.menuBar a {
	display: inline-block;
	border: solid 0px #3F3F3F;
	background: transparent;
	padding: 6px 16px 6px 16px;
	margin: 0px;
	color: #BFBFBF;
	text-decoration: none;
}
.menuBar a:hover {
	background: rgba(255, 255, 255, 0.25);
	color: #EFEFEF;
}
.menuBar .subMenu {
	z-index: 2;
	position: absolute;
	display: none;
	border: solid 1px #7F7F7F;
	border-radius: 4px;
	background: #3F3F3F;
}
.menuBar .subMenu a {
	display: block;
	position: relative;
}


.treeViewNode {
	display: block;
	white-space: nowrap;
	margin-left: 18px;
}
.treeViewNode input[type='button'] {
	border-width: 1px;
	border-radius: 3px;
	font-size: 8px;
	line-height: 8px;
	padding: 0px;
	margin: 0px;
	margin-right: 4px;
	vertical-align: middle;
	width: 12px;
	height: 12px;
}


.frame1 {
	display: inline-block;
	border: solid 2px #3F3F3F;
	border-radius: 6px;
	background: rgba(15, 15, 15, 0.75);
	padding: 4px;
}

.loader {
    margin-top: 20%;
    margin-left: 45%;
}

.mainMenu {
    padding: 5%;
    text-align: center;
    margin-top: 10%;
    margin-left: 34%;
}

.title {
    font: 30px helvetica, serif;
    display: block;
    padding-bottom: 5%;
}

.mainButton {
    width: 20%;
}

.frame1 input {
	border: solid 1px #9F9F9F;
	border-radius: 4px;
	background: #3F3F3F;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 12px;
}
.frame1 input.unsaved {
	background: #3F3F9F;
}
.frame1 input.error {
	background: #7F0000;
}
.frame1 a {
	color: #CF1F1F;
}
.frame1 a:hover {
	color: #EFEFEF;
}



.frame2 {
	border: solid 0px #3F3F3F;
	background-color: #3F3F3F;
	padding: 4px;
	margin: 0px;
}
.frame2 input {
	border: solid 1px #9F9F9F;
	border-radius: 4px;
	background: #3F3F3F;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 12px;
}
.frame2 a {
	color: #CF1F1F;
}
.frame2 a:hover {
	color: #EFEFEF;
}



.authMsg {
	display: block;
	text-align: center;
	font-size: 18px;
}



.coolScroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 1.0);
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.0);
}
.coolScroll::-webkit-scrollbar
{
	width: 8px;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.0);
}
.coolScroll::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	-webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.75);
	background-color: #3F3F3F;
}



.messageBox {
	user-select: all;
	-moz-user-select: all;
	-webkit-user-select: all;
	-ms-user-select: all;
	pointer-events: auto;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	font-size: 14px;
}
.messageBox > .serverMessage {
	color: yellow;
}
.messageBox > .debugMessage {
	color: red;
}
.messageBox > .instanceMessage {
	color: orange;
}
.messageBox > .chatMessage {
	color: white;
}

.nametag {
	position: absolute;
	transform: translate(0px,0px);
	transition-duration: 0.05s;
	transition-timing-function: linear;
	transition-property: transform;
}
.healthbar {
	background: rgba(0, 0, 0, 0.5);
	font-size: 0px;
	line-height: 0px;
	padding: 1px;
	height: 6px;
	width: 32px;
}
.healthbar .bar {
	position: relative;
	background-color: #00FF00;
	height: 100%;
	width: 100%;
}

#ingameOverlay .pane {
	border: solid 0px #7F7F7F;
	border-bottom-width: 1px;
	padding: 4px;
}
#ingameOverlay a.btn {
	display: inline-block;
	border: solid 1px #BFBFBF;
	border-radius: 3px;
	background: #1F1F1F;
	color: #FFFFFF;
	font-family: monospace;
	font-size: 16px;
	padding: 4px;
}
#ingameOverlay a.btn.green {
	border: solid 1px #00BF00;
	color: #00FF00;
}
#ingameOverlay a.btn.yellow {
	border: solid 1px #BFBF00;
	color: #FFFF00;
}
#ingameOverlay a.btn.red {
	border: solid 1px #BF0000;
	color: #FF0000;
}

#ingameOverlay .gameState {
	display: inline-block;
	float: right;
	font-size: 18px;
	font-weight: bold;
}
#ingameOverlay .gameState.build {
	color: #007FFF;
	background-color: #002F4F;
}
#ingameOverlay .gameState.defend {
	color: #FF0000;
	background-color: #4F0000;
}

.userInfo .balance {
	color: #FFFF00;
	font-family: monospace;
	font-size: 16px;
	padding: 4px;
}

.shop > a {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: solid 1px #7F7F7f;
	border-radius: 3px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 2px;
}

.shop > a {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: solid 1px #7F7F7f;
	border-radius: 3px;
	margin: 2px;
}
.shop > a:hover {
	border-color: #DFDFDF;
}

.shopInfo .preview,
.selection .preview {
	display: inline-block;
	float: right;
	width: 64px;
	height: 64px;
	border-radius: 3px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.shopInfo .model,
.selection .model {
	font-family: monospace;
	font-size: 16px;
}
.selection .model {
	color: #00FF00;
}
.shopInfo .details,
.selection .details {
	color: #9F9F9F;
	font-family: monospace;
	font-size: 14px;
}

